body {

    background: #F4F8FA;
    text-transform: capitalize;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 25px;
    color: #3690ff;
    font-weight: 500;
}

.div {
    /*width: 27%;*/
    margin: 13% 39%;
  
    width: 0;
    height:0

}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bo button {
    font-size: 12px
}

.bo {
    margin: 10px 18%;
}

a {
    display: block;
    margin-top: 17px;
    color: #777;
    font-weight: 500;
}
