$xs:"(max-width:576px)";
$sm:"(max-width:768px)";
$md:"(min-width:768px)";
$lg:"(min-width:992px)";
$xl:"(min-width:1200px)";

$primaryColor:#e2494c;
$secondaryColor: #9c9c9c;
$float-left:left;
$floar-right:right;
$text-left:left;
$text-right:right;
